* {
  margin: 0 auto;
  padding: 0;
  background-color: antiquewhite;
}

.body {
  padding: 20px;
  display: flex;
  text-align: center;
}

.total {
  display: flex;
  align-items: center;
}

.d-none {
  display: none;
}

.ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.class-li {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 50%;
  padding: 0px;
  margin: 20px;
  align-items: center;
}

.class-li p {
  padding: 10px;
  color: #000;
  text-align: center;
}

#search {
  margin: 10px;
  padding: 20px;
  display: flex;
  text-align: center;
  color: #000;
  border: #000 1px solid;
}

#select {
  margin: 10px;
  padding: 20px;
  color: #000;
  border: #000 1px solid;
}

.episode {
  width: 12rem;
  padding: 20px;
  color: black;
  text-align: center;
}

.cart-image {
  padding: 2rem;
  width: 100px;
  height: 60px;
  border: 1px solid;
}

.cart-image {
  width: 20rem;
  height: 12rem;
}

.span-image {
  display: block;
  width: 15rem;
}

.size-image {
  max-height: 20%;
  width: 15rem;
  height: 12rem;
}

@media (max-width: 1194px) {
  #search {
    font-size: 10px;
  }
  #box {
    font-size: 10px;
  }
  .episode {
    font-size: 10px;
  }
}

@media (max-width: 932px) {
  #search {
    font-size: 6px;
  }
  #box {
    font-size: 6px;
  }
  .episode {
    font-size: 6px;
  }
}
@media (max-width: 753px) {
  #search {
    font-size: 3px;
  }
  #box {
    font-size: 3px;
  }
  .episode {
    font-size: 3px;
  }
}

@media (max-width: 640px) {
  #search {
    font-size: 1px;
  }
  #box {
    font-size: 1px;
  }
  .episode {
    font-size: 1px;
  }
}
